{{ $title := .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ else }}{{ $title = printf "%s | %s" .Title .Site.Title }}{{ end }}
<title>{{ $title }}</title>

{{ $desc := .Site.Params.description }}
{{ with .Description }}{{ $desc = . }}{{ else }}{{ with .Summary }}{{ $desc = . | plainify | truncate 160 }}{{ end }}{{ end }}
<meta name="description" content="{{ $desc }}">
<link rel="canonical" href="{{ .Permalink }}">

{{/* Social / Open Graph */}}
{{ $ogimage := absURL "img/author.jpg" }}
{{ with .Params.image }}{{ $ogimage = absURL . }}{{ end }}
{{ $locale := cond (eq .Site.Language.Lang "fa") "fa_IR" "en_US" }}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ $locale }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $ogimage }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $ogimage }}">

{{/* Language alternates */}}
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">
{{ end }}

{{/* RSS autodiscovery */}}
{{ with .OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/png">
